// $background: #1A1B26;
// $background-alt: #16161E;
// $background-alt2: #1E202E;
// $foreground: #a9b1d6;
// $red: #F7768E;
// $yellow: #E0AF68;
// $orange: #FF9E64;
// $green: #9ECE6A;
// $blue: #7AA2F7;
// $blue2: #88AFFF;
// $magenta: #BB9AF7;
// $cyan: #73DACA;

$background: #1A1B26;
$background-alt: #16161E;
$background-alt2: #1E202E;
$foreground: #bac2de;
$red: #f38ba8;
$yellow: #f9e2af;
$orange: #fab387;
$green: #a6e3a1;
$blue: #89b4fa;
$blue2: #74c7ec;
$magenta: #cba6f7;
$cyan: #94e2d5;
$mauve: #ddb6f2;